.con{
    background-color:blue ;
    margin: auto;
    display: flex;
    
}
.navbar{
    background-color: aqua;
    display: flex;
     justify-content: center;
     
    

    
    margin: auto;
}
h3{
    font-size: 20px;
}
.material-symbols-outlined{
    
    color: red;
    padding: 5px;
    font-size: 45px;

    
}
.navitems{
    padding-left: 10px;
    padding-right: 10px;
    

}

